.chart-container-shadow {
  box-shadow: -10px -10px 20px #faf6fb, 10px 10px 20px #dfd3e1;
}
.chart-container-shadow-dark {
  box-shadow: -10px -10px 15px #2b2b2b, 10px 10px 20px #1e1e1e;
}

.line-shadow {
  box-shadow: 0 22px 10px #00000020;
}
